# ignore log and output files
log/*debug
log/*info
log/*error
log/*log
out/*json
bdd/logs/*log
lib/unittests/log/

#ignore *pyc (python compiled files)
*.pyc


.idea/
.pylintrc
others/
roadmap/
setup.cfg
doc/
